<div class="send-podcast-view">
<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<div class="send-podcast-form-wrap well white">
			<form class="send-podcast-form" name="send-podcast-form" ng-submit="sendPodcast.send()">
				<fieldset>
					<legend>Send Podcast</legend>

					<!-- Twilio accound sid -->
					<div class="form-group col-md-12">
						<label for="twilio_account_sid" class="control-label">Twilio account_sid</label>
						<input type="text" class="form-control" name="twilio_account_sid" placeholder="account_sid" ng-model="sendPodcast.podcastData.twilio_account_sid" required>
					</div>

					<!-- Twilio auth token -->
					<div class="form-group col-md-12">
						<label for="twilio_auth_token" class="control-label">Twilio auth_token</label>
						<input type="text" class="form-control" name="twilio_auth_token" placeholder="auth_token" ng-model="sendPodcast.podcastData.twilio_auth_token" required>
					</div>

					<!-- Twilio from phone -->
					<div class="form-group col-md-12">
						<label for="twilio_from_phone" class="control-label">Twilio phone</label>
						<input type="text" class="form-control" name="twilio_from_phone" placeholder="twilio phone" ng-model="sendPodcast.podcastData.twilio_from_phone" required>
					</div>

					<!-- To phone -->
					<div class="form-group col-md-12">
						<label for="twilio_to_phone" class="control-label">To phone</label>
						<input type="text" class="form-control" name="twilio_to_phone" placeholder="to phone" ng-model="sendPodcast.podcastData.twilio_to_phone" required>
					</div>

					<!-- Voice Text -->
					<div class="form-group col-md-12">
						<label for="text" class="control-label">Voice text</label>
						<textarea type="text" class="form-control" name="text" placeholder="voice text" ng-model="sendPodcast.podcastData.text" required></textarea>
					</div>

					<!-- Podcast Url -->
					<div class="form-group col-md-12">
						<label for="media_url" class="control-label">Podcast Url</label>
						<input type="text" class="form-control" name="media_url" placeholder="url" ng-model="sendPodcast.podcastData.media_url" required>
					</div>

					<!-- Submit button -->
					<div class="form-group col-md-12">
						<button type="submit" name="submit_button" class="btn btn-primary btn-block" ng-disabled="sendPodcast.processing">
							<span ng-if="!sendPodcast.processing">SEND</span>
							<div ng-if="sendPodcast.processing" class="fetching-spinner"></div>
						</button>
					</div>
				</fieldset>
			</form> <!-- .send-podcast-form -->
		</div><!-- .send-podcast-form-wrap -->
	</div> <!-- .col-md-6 -->
</div> <!-- .row -->
</div>